<ul>
    <li *ngFor="let jersey of jerseyList">
        <a [routerLink]="['/jersey', jersey._id]">
            <img [src]="jersey.image">
            <div class="content">
                <div>
                    {{jersey.team}} {{jersey.year}}
                </div>
                <div>
                    {{jersey.type}}
                </div>
                <div class="size">
                    {{jersey.size}}
                </div>
                <span class="favorite {{jersey.favorite?'':'not'}}">
                    &#10084;
                </span>
                <div class="price">
                    <span>
                        {{jersey.price | currency}}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>