<div class="container">
    <div class="container-image">
        <img class="image" [src]="jersey.image">
    </div>
    <div class="details">
        <div class="header">
            <h2 class="jersey-name">{{jersey.team}} {{jersey.year}}</h2>
            <span class="favorite {{jersey.favorite?'':'not'}}">
                &#10084;
            </span>
        </div>

        <h4>{{jersey.type}}</h4>
        
        <div class="price">
          {{jersey.price | currency}}  
        </div>
        
        <p>Select size</p>
        <button class="button-size" *ngFor="let size of jersey.size" (click)="addSize(size)" [class.selected]="cartService.selectedSize === size">
          {{size}}
        </button>

        <p style="margin-top: 50px;">Add customisation</p>
        <input type="text" #name placeholder="Name.." class="input-name">
        <input type="text" #number placeholder="Number.." class="input-number">
        <button class="button-customization" (click)="addCustomization(name.value, number.value)">Add</button>

        <button class="button-cart" type="button" (click)="addToCart()">Add To Cart</button><br>
        <button class="button-prefer">Add To Prefer</button>
    </div>
</div>