header {
    position:relative;
    background:#1c4069;
    padding: 0;
    border-bottom: 1px solid black;
    
}

.navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

nav a:hover{
    background:lightsteelblue;
    color: #1c4069;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}
ul a {
    padding: 20px;
    display: inline-block;
    
}
.dropdown-container {
    position: relative;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    background: #f1f1f1;
    display: none;
    min-width: 85px;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;  
    text-align: left;
    color: #1c4069;
    padding: 12px 16px;
    width: 100%;
    min-width: 128px;
}

.dropdown-content a:hover {
    background: lightsteelblue;
}

a span {
    background: white;
    color: #1c4069;
    padding: 6px;
    border-radius: 80px;
    font-size: 17px;
}