<header>
    <div class="navbar">
        <a routerLink="/" class="logo">Football Jersey Shop</a>
        <nav>
            <ul>
                <li *ngIf="!user.token">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="dropdown-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="dropdown-content">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart">
                        Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>